*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Heebo', sans-serif;
    color: rgb(83, 83, 83);
}

.container{
    margin: 0 auto;
    padding-top: 4rem;
    /* background-color: wheat; */
    align-items: center;
    display: flex;
    flex-direction: column;
}

header{
    border-bottom: 1px solid #E0E0E0;
    background-color: white;
    position: fixed;
    max-height: 4rem;
    height: 4rem;
    width: 100%;
}

.nav-bar-links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-bar-links-item{
    list-style: none;
    padding: 1.1rem 0.8rem;
    margin: 0 0.5rem;
    font-size: 1.2rem;
}

.nav-bar-links-item > a{
    color: #000000;
    text-decoration: none;
}

.hero{
    min-height: 40rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin: 0 8rem; */
}

.hero-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.hero-content-heading{
    font-size: 2.5rem;
    font-weight: 700;
    color: #21243D;
}

.hero-content-body{
    color: #21243D;
    font-size: 16px;
    max-width: 25rem;
    text-align: justify;
}

.hero-content-link{
    margin-top: 50px;
    font-weight: 500;
    background-color: #FF6464;
    color: white;
    text-decoration: none;
    width: 208px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    outline: none;
    border: none;
}

.hero-content-link:hover{
    cursor: pointer;
    background-color: #ff5151;
    transition: 0.3s;
}

.hero-img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-img > img {
    max-height: 18.75rem;
    border-radius: 80%;
    box-shadow: -5px 14px 2px #EDF7FA;
}

.featured-works-header{
    font-size: 1.2rem;
}

.featured-works-item{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 4rem;
    border-width: 40%;
}

.featured-works-item-text{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: left;
    margin: 0 1rem;
}

.featured-works-item-img > img{
    width: 250px;
    height: 200px;
    border-radius: 10px;
}

.featured-works-item-title{
    font-family: Heebo;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
}

.featured-works-item-year{
    font-family: Heebo;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    color: #FFFFFF;
    background: #142850;
    border-radius: 16px;
    width: 62px;
    height: 25px;
    display: flex;
    justify-content: center;
}

.featured-works-item-type{
    font-family: Heebo;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #8695A4;
}

.featured-works-item-info{
    display: flex;
    align-items: center;
    justify-content: left;
}

.featured-works-item-year, .featured-works-item-type{
    margin-right: 1rem;
}

.featured-works-item-body{
    font-family: Heebo;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #21243D;
    max-height: 200px;
    max-width: 400px;
    text-align: justify;
}

@media screen and (max-width: 768px){
    body{
        max-height: 100vh;
    }
    .container{
        margin: 0;
    }
    header{
        display: none;
    }
    header{
        position: fixed;
        /* max-height: 4rem; */
    }
    .hero{
        padding-top: 8rem;
        flex-direction: column;
        justify-content: space-evenly;
        flex-direction: column-reverse;
    }
    .hero-content{
        /* width: 100%; */
        justify-content: center;
        align-items: center;
        max-width: 40rem;
    }
    .hero-content-body{
        display: none;
        text-align: justify;
    }
    .hero-img{
        margin: 15px 0px 30px 0;
        justify-content: center;
        align-items: center;
        max-width: 40rem;
    }
}