*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(229, 249, 255);
    color: rgb(83, 83, 83);
    font-size: 1.2rem;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.error summary{
    max-width: 150px;
}

.error{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 240px;
    margin: 0 auto;
}

.error h1{
    color: red;
    font-size: 4rem;
}

.github-link a:hover{
    text-decoration: underline;
    color: rgb(104, 144, 255);
    transition: 0.3s;
}

.github-link a{
    font-style: italic;
    color: red;
    text-decoration: none;
    font-weight: bold;
}
.github-link{
    /* margin-top: 10px; */
    color: rgb(83, 83, 83);
    text-decoration: none;
    font-size: 1.2rem;
}

@media screen and (max-width: 600px){
    body{
        font-size: 1rem;
    }
    .error{
        max-width: 100px;
    }
    .github-link{
        font-size: 1rem;
        max-width: 50%;
    }
    .error h1{
        font-size: 2rem;
    }
}